*.sh text eol=lf
Dockerfile text eol=lf
docker-compose.yml text eol=lf
docker-compose.yaml text eol=lf


/node_modules
/public/hot
/storage/*.key
/vendor
/public/storage
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store