services:
  php:
    build:
      context: .
      dockerfile: Dockerfile
    image: laravel-8-crud-php
    ports:
      - "8000:8000"
    volumes:
      - .:/var/www
    env_file:
      - .env
    environment:
      DB_HOST: mysql
    depends_on:
      - mysql
    entrypoint: ["sh", "/var/www/docker/entrypoint.sh"]

  mysql:
    image: mysql:5.7
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - db-data:/var/lib/mysql
